ENVIRONMENT=build
APPLICATION_PULL_POLICY=build
POSTGRES_IMAGE_REPOSITORY=postgres
POSTGRES_IMAGE_TAG=16-alpine
POSTGRES_DB=logai
POSTGRES_USER=logai
POSTGRES_PASSWORD=REPLACE_FOR_LOCAL_USE
POSTGRES_PORT=5432
KEYCLOAK_IMAGE_REPOSITORY=quay.io/keycloak/keycloak
KEYCLOAK_IMAGE_TAG=26.0.8
KEYCLOAK_IMAGE_DIGEST=sha256:09a381c715ab0b111835b70f2905955274843a219c6f27efb348e4d9f4086858
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=REPLACE_FOR_LOCAL_USE
KEYCLOAK_PORT=8080
IDENTITY_API_IMAGE_REPOSITORY=localhost/gamestory/identity-api
IDENTITY_API_IMAGE_TAG=build
IDENTITY_API_BUILD_CONTEXT=../../../gamestory-identity-kit/backend
IDENTITY_API_PORT=8000
LOGAI_API_IMAGE_REPOSITORY=localhost/gamestory/logai-api
LOGAI_API_IMAGE_TAG=build
LOGAI_API_BUILD_CONTEXT=../../../gamestory-logai-api
LOGAI_API_PORT=8010
LOGAI_UI_IMAGE_REPOSITORY=localhost/gamestory/logai-ui
LOGAI_UI_IMAGE_TAG=build
LOGAI_UI_BUILD_CONTEXT=../../../logai_ai
LOGAI_UI_DOCKERFILE=docker
LOGAI_UI_PORT=3000
NEXT_PUBLIC_AUTH_MODE=none
APPLY_DATABASE_SCHEMA_ON_STARTUP=true
SEED_SAMPLE_DATA_ON_STARTUP=true
